@page
@model GuardWebApp.Pages.ViolationConsequencePage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>افزودن پیامد تخلف</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">توضیحات</label>
                <input asp-for="ViolationConsequence.Description" class="form-control" />
                <span asp-validation-for="ViolationConsequence.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">نوع تخلف</label>
                <select asp-for="ViolationConsequence.ViolationTypeId" class ="form-control" asp-items="ViewBag.ViolationTypeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-primary m-2" />
            </div>
        </form>
    </div>
</div>

<div>
    @section BottomPanel {
        <a class="btn btn-danger rounded-circle" asp-page="Index"><i class="fa fa-arrow-left"></i></a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
