@page
@model GuardWebApp.Pages.VisittimePage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>ایجاد زمان بازدید جدید</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">عنوان</label>
                <input asp-for="Visittime.Title" class="form-control" />
                <span asp-validation-for="Visittime.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">تاریخ شروع</label>
                <div class="row">
                    <div class="col-6">
                        <span>روز</span>
                        <input type="number" min="1" max="31" name="startdateday" class="form-control" />
                    </div>
                    <div class="col-6">
                        <span>ماه</span>
                        <input type="number" min="1" max="12" name="startdatemonth" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">تاریخ پایان</label>
                <div class="row">
                    <div class="col-6">
                        <span>روز</span>
                        <input type="number" min="1" max="31" name="enddateday" class="form-control" />
                    </div>
                    <div class="col-6">
                        <span>ماه</span>
                        <input type="number" min="1" max="12" name="enddatemonth" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">زمان شروع</label>
                <input type="time" asp-for="Visittime.StartTime" class="form-control" />
                <span asp-validation-for="Visittime.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">زمان پایان</label>
                <input type="time" asp-for="Visittime.EndTime" class="form-control" />
                <span asp-validation-for="Visittime.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">توضیحات</label>
                <input asp-for="Visittime.Description" class="form-control" />
                <span asp-validation-for="Visittime.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-primary m-2" />
            </div>
        </form>
    </div>
</div>

<div>
    @section BottomPanel {
        <a class="btn btn-danger rounded-circle" asp-page="Index"><i class="fa fa-arrow-left"></i></a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
