@page
@model GuardWebApp.Pages.SubmittedLocationDtlPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>ایجاد جزئیات مکان ثبت شده جدید</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <p>آخرین آی دی ثبت شده: @Model.LastId</p>
                <label class="control-label">مکان ثبت شده</label>
                <input asp-for="SubmittedLocationDtl.Id" class="form-control" />
                <span asp-validation-for="SubmittedLocationDtl.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">جزئیات مکان ثبت شده</label>
                <select asp-for="SubmittedLocationDtl.SubmittedLocationId" class="form-control" asp-items="ViewBag.SubmittedLocationId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">جزئیات مکان</label>
                <select asp-for="SubmittedLocationDtl.LocationDetailId" class="form-control" asp-items="ViewBag.LocationDetailId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">وضعیت اجرا</label>
                <select asp-for="SubmittedLocationDtl.RunStatusId" class="form-control" asp-items="ViewBag.RunStatusId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-primary m-2" />
            </div>
        </form>
    </div>
</div>

<div>
    @section BottomPanel {
        <a class="btn btn-danger rounded-circle" asp-page="Index"><i class="fa fa-arrow-left"></i></a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
