@page
@model GuardWebApp.Pages.LogoutModel
@{
}

<div class="alert alert-success">با موفقیت خارج شدید</div>

@section Scripts {
    <script type="text/javascript">
        setTimeout(function () {
            window.location.href = "./Index";
        },
            3000);
    </script>
}