@page "/ScanPage/200"


<div class="row">
    <div class="col-12 text-center">
        <div class="alert alert-success">با موفقیت ثبت شد</div>
        <br />
        <a class="btn btn-primary" asp-page="./Index">اسکن مجدد</a>
    </div>
</div>

<div>
    @section BottomPanel {
        <a class="btn btn-danger rounded-circle" asp-page="../Panel"><i class="fa fa-arrow-left"></i></a>
    }
</div>