@page "/ScanPage/404" 


<div class="row">
    <div class="col-12 text-center">
        <div class="alert alert-danger">مکان مورد نظر یافت نشد</div>
        <br />
        <a class="btn btn-primary" asp-page="./Index">اسکن مجدد</a>
    </div>
</div>


<div>
    @section BottomPanel {
        <a class="btn btn-danger rounded-circle" asp-page="../Panel"><i class="fa fa-arrow-left"></i></a>
    }
</div>