@page
@model GuardWebApp.Pages.PlanPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>ایجاد برنامه جدید</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">نگهبان</label>
                <select asp-for="Plan.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">شیفت</label>
                <select asp-for="Plan.ShiftId" class ="form-control" asp-items="ViewBag.ShiftId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">تاریخ</label>
                <input asp-for="Plan.DateTime" class="form-control" />
                <span asp-validation-for="Plan.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">مکان</label>
                <select asp-for="Plan.LocationId" class ="form-control" asp-items="ViewBag.LocationId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-primary m-2" />
            </div>
        </form>
    </div>
</div>

<div>
    @section BottomPanel {
        <a class="btn btn-danger rounded-circle" asp-page="Index"><i class="fa fa-arrow-left"></i></a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
