@page
@model GuardWebApp.Pages.RunDetailPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>جدول جزئیات اجرا</h1>

<p>
    <a class="btn btn-success" asp-page="Create"><i class="fa fa-plus"></i></a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    جزئیات مکان
                </th>
                <th>
                    اجرا
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RunDetail)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationDetail.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Run.Id)
                    </td>
                    <td>
                        <a class="btn btn-warning text-white" asp-page="./Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section BottomPanel {
    <a class="btn btn-danger rounded-circle" asp-page="../Panel"><i class="fa fa-arrow-left"></i></a>
}

