@page
@model GuardWebApp.Pages.CheckLocationPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>ایجاد بررسی مکان جدید</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="CheckLocation.LocationId" type="hidden" value="@Model.locationIdProp" />
            <div class="form-group">
                <label class="control-label">بررسی</label>
                <select asp-for="CheckLocation.CheckId" class="form-control" asp-items="ViewBag.CheckId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">آب و هوا</label>
                <select asp-for="CheckLocation.ClimateId" class="form-control" asp-items="ViewBag.ClimateId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">توضیحات بررسی مکان</label>
                <input asp-for="CheckLocation.Description" class="form-control" />
                <span asp-validation-for="CheckLocation.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">زمان (های) بازدید</label>
                @Html.ListBoxFor(a => a.multiSelection.SelectedIds, Model.multiSelection.Items, new { @class = "form-control", multiple = "multiple", id = "mydropdown" })
            </div>

            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-primary m-2" />
            </div>
        </form>
    </div>
</div>

<div>
    @section BottomPanel {
        <a class="btn btn-danger rounded-circle" asp-page="Index" asp-route-locationId="@Model.locationIdProp"><i class="fa fa-arrow-left"></i></a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#mydropdown").multiselect({
                enableFiltering: true,
                buttonWidth: '100%',
                buttonClass: 'btn btn-outline-secondary',
                nonSelectedText: 'موردی انتخاب نشده',
                filterPlaceholder: 'جستجو',
                allSelectedText: "همه موارد انتخاب شده",
                nSelectedText: "مورد انتخاب شده",
            });
        });
    </script>
}
