@page
@model GuardWebApp.Pages.Planning.IndexModel
@{
}

@if (ViewData["Step1"] != null)
{
    <form asp-page-handler="Date" method="post">
        <div class="form-group">
            <label>تاریخ شروع:</label>
            <input name="sDate" type="datetime-local" class="form-control">
        </div>
        <div class="form-group">
            <label>تاریخ پایان:</label>
            <input name="eDate" type="datetime-local" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">ثبت</button>
    </form>
}
else if (ViewData["Step2"] != null)
{
    <form asp-page-handler="Guards" method="post">
        <label>نگهبانان:</label>
        <select name="guardId" class="form-control" asp-items="ViewBag.GuardsId"></select>
        <button type="submit" class="btn btn-primary">ثبت</button>
    </form>
}
else if (ViewData["Step3"] != null)
{
    <form asp-page-handler="GuardAreas" method="post">
        <label>محل گشت:</label>
        <select name="guardAreaId" class="form-control" asp-items="ViewBag.GuardAreasId"></select>
        <button type="submit" class="btn btn-primary">ثبت</button>
    </form>
}
else if (ViewData["Step4"] != null)
{
    <form asp-page-handler="Shifts" method="post">
        <label>شیفت:</label>
        <select name="shiftId" class="form-control" asp-items="ViewBag.ShiftsId"></select>
        <button type="submit" class="btn btn-primary">ثبت</button>
    </form>
}
else if (ViewData["Step5"] != null)
{
    <form asp-page-handler="Locations" method="post">
        <label>مکان:</label>
        <select name="locationId" class="form-control" asp-items="ViewBag.LocationsId"></select>
        <button type="submit" class="btn btn-primary">ثبت</button>
    </form>
}
else if (ViewData["Step6"] != null)
{
    <form asp-page-handler="Rhythms" method="post">
        <label>ریتم:</label>
        <select name="rhythmId" class="form-control" asp-items="ViewBag.RhythmsId"></select>
        <button type="submit" class="btn btn-primary">ثبت</button>
    </form>
}
else if (ViewData["Step7"] != null)
{
    <form asp-page-handler="RhythmDetails" method="post">
        <label>جزئیات ریتم:</label>
        <select name="rhythmDetailsId" class="form-control" asp-items="ViewBag.RhythmDetailsId"></select>
        <button type="submit" class="btn btn-primary">ثبت</button>
    </form>
}
else if (ViewData["Step8"] != null)
{
    <div>step 8</div>
}