@page
@model GuardWebApp.Pages.Planning.IndexModel
@{
}

@if (ViewData["Step1"] != null)
{
    <div>
        <div class="form-group">
            <label class="mr-sm-2" for="inlineFormCustomSelect">محدوده زمان:</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" onchange="timetype()">
                <option value="1">از تاریخ - تا تاریخ</option>
                <option value="2">روزانه</option>
                <option value="3">ماهیانه</option>
            </select>
        </div>
    </div>

    <script>
        function timetype() {
            var selectedTime = $("#inlineFormCustomSelect").val();
            if (selectedTime == 1) {
                $("#tofrom").show();
                $("#daily").hide();
                $("#monthly").hide();

            } else if (selectedTime == 2) {
                $("#tofrom").hide();
                $("#daily").show();
                $("#monthly").hide();
            } else if (selectedTime == 3) {
                $("#tofrom").hide();
                $("#daily").hide();
                $("#monthly").show();
            } else {
                $("#tofrom").hide();
                $("#daily").hide();
                $("#monthly").hide();
            }
        }

        function checkmax30days(evt) {
            if (daysBetween($("input[name=sDate]").val(), $("input[name=eDate]").val()) > 31) {
                alert("محدوده زمانی حداکثر 31 روز میباشد");
                evt.preventDefault();
                evt.returnValue = false;
                return false;
            }
            return true;
        }

        function treatAsUTC(date) {
            var result = new Date(date);
            result.setMinutes(result.getMinutes() - result.getTimezoneOffset());
            return result;
        }

        function daysBetween(startDate, endDate) {
            var millisecondsPerDay = 24 * 60 * 60 * 1000;
            return (treatAsUTC(endDate) - treatAsUTC(startDate)) / millisecondsPerDay;
        }


    </script>

    <div id="tofrom" style="display:block">
        <form onsubmit="checkmax30days(event)" asp-page-handler="Date" method="post">
            <input type="hidden" name="timetype" value="tofrom" />
            <div class="form-group">
                <label>تاریخ شروع:</label>
                <input name="sDate" type="datetime-local" class="form-control">
            </div>
            <div class="form-group">
                <label>تاریخ پایان:</label>
                <input name="eDate" type="datetime-local" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">ثبت</button>
        </form>
    </div>

    <div id="daily" style="display:none">
        <form asp-page-handler="Date" method="post">
            <input type="hidden" name="timetype" value="daily" />
            <div class="form-group">
                <label>روز :</label>
                <input name="sDate" type="datetime-local" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">ثبت</button>
        </form>
    </div>

    <div id="monthly" style="display:none">
        <form asp-page-handler="Date" method="post">
            <input type="hidden" name="timetype" value="monthly" />
            <div class="form-group">
                <label>ماه:</label>
                <select class="form-control" name="sDate">
                    <option value="1">فروردین</option>
                    <option value="2">اردیبهشت</option>
                    <option value="3">خرداد</option>
                    <option value="4">تیر</option>
                    <option value="5">مرداد</option>
                    <option value="6">شهریور</option>
                    <option value="7">مهر</option>
                    <option value="8">آبان</option>
                    <option value="9">آذر</option>
                    <option value="10">دی</option>
                    <option value="11">بهمن</option>
                    <option value="12">اسفند</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">ثبت</button>
        </form>
    </div>

}
else if (ViewData["Step2"] != null)
{
    <div class="alert alert-success">
        تاریخ انتخابی:
        از: <div class="form-control">@Model.startDate</div>
        تا: <div class="form-control">@Model.endDate</div>
    </div>
    <br />
    <br />
    <div class="alert alert-info">
        لیست پلن پر شد
    </div>

}
