@page
@model GuardWebApp.Pages.ViolationNaturePage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>از حذف مورد زیر مطمئن هستید؟</h3>
<br />
<div>
    <h4>ماهیت تخلف</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            نام ماهیت تخلف 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViolationNature.Name)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="ViolationNature.Id" />
        <input type="submit" value="حذف" class="btn btn-danger" />
        <a class="btn btn-outline-dark" asp-page="./Index">انصراف</a>
    </form>
</div>

<div>
    @section BottomPanel {
        <a class="btn btn-danger rounded-circle" asp-page="./Index"><i class="fa fa-arrow-left"></i></a>
    }
</div>