<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GuardWebApp</title>
    <link href="~/lib/Bootstrap4RTL/dist/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-multiselect2/bootstrap-multiselect.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-page="/Index">سیستم نگهبانی</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("uid") == null)
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Index">صفحه اصلی</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Index">صفحه اصلی</a>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        تعاریف
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" asp-page="/LocationPage/Index"><i class="far fa-map-marker"></i>&nbsp;مکان</a>
                                        <a class="dropdown-item" asp-page="/LocationDetailPage/Index"><i class="far fa-directions"></i>&nbsp;جزئیات مکان</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-page="/RunPage/Index"><i class="far fa-play-circle"></i>&nbsp;اجرا</a>
                                        <a class="dropdown-item" asp-page="/RunDetailPage/Index"><i class="far fa-arrows-alt"></i>&nbsp;جزئیات اجرا</a>
                                        <a class="dropdown-item" asp-page="/RunStatusPage/Index"><i class="far fa-caret-square-down"></i>&nbsp;وضعیت اجرا</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-page="/ShiftPage/Index"><i class="	far fa-calendar-check"></i>&nbsp;شیفت</a>
                                        <a class="dropdown-item" asp-page="/ShiftAllocationPage/Index"><i class="far fa-clipboard"></i>&nbsp;تخصیص شیفت</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-page="/RhythmPage/Index"><i class="far fa-calendar"></i>&nbsp;ریتم</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-page="/VisittimePage/Index"><i class="far fa-clock"></i>&nbsp;زمان بازدید</a>
                                        <a class="dropdown-item" asp-page="/ClimatePage/Index"><i class="far fa-cloud-moon-rain"></i>&nbsp;آب و هوا</a>
                                        <a class="dropdown-item" asp-page="/CheckPage/Index"><i class="far fa-check"></i>&nbsp;بررسی</a>
                                        <a class="dropdown-item" asp-page="/GuardAreaPage/Index"><i class="far fa-map"></i>&nbsp;محل گشت</a>
                                        <a class="dropdown-item" asp-page="/PlanPage/Index"><i class="far fa-flag-checkered"></i>&nbsp;برنامه</a>
                                        <a class="dropdown-item" asp-page="/StatusPage/Index"><i class="far fa-exclamation-circle"></i>&nbsp;وضعیت</a>
                                        <a class="dropdown-item" asp-page="/SubmittedLocationPage/Index"><i class="far fa-crosshairs"></i>&nbsp;مکان های بررسی شده</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-page="/ViolationPage/Index"><i class="far fa-exclamation-triangle"></i>&nbsp;تخلفات</a>
                                        <a class="dropdown-item" asp-page="/ViolationTypePage/Index"><i class="far fa-ticket"></i>&nbsp;نوع تخلف</a>
                                        <a class="dropdown-item" asp-page="/ViolationNaturePage/Index"><i class="far fa-paragraph"></i>&nbsp;ماهیت تخلف</a>
                                        <a class="dropdown-item" asp-page="/ViolationConsequencePage/Index"><i class="far fa-hard-hat"></i>&nbsp;پیامد تخلف</a>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted fixedButton">
        <div class="container">
            @await RenderSectionAsync("BottomPanel", required: false)
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/Bootstrap4RTL/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/bootstrap-multiselect2/bootstrap-multiselect.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
